#submission body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

#submission header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* .main {
    padding: 20px;
    width: 100%;
    overflow: hidden;

} */

.main.shifted {
    margin-left: 200px;
}

#submission h2 {
    color: #fff;
}

/* #submission form {
    margin-top: 20px;
} */

#submission label {
    display: block;
    margin-bottom: 7px;
    margin-top: -3px;
}

#submission textarea{
    padding: 5px !important;
}

#submission input,
#submission textarea {
    width: 100%;
        padding: 10px;
        margin-bottom: 25px;
        box-sizing: border-box;
        background-color: #333;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 1px 3px 7px 0px rgb(207, 159, 255);
}

#submission button {
    background-color: #333;
    color: #fff;
    padding: 14px 15px;
    border: none;
    cursor: pointer;
    font-size: 21px;
}

#submission button:hover {
    background-color: #555;
}

#submission button.newbtn {
    display: block;
    margin: 0 auto;
}

#submission .error {
    color: #f44336;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#submission .success {
    color: #4caf50;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 10px;
}