/*.prizes-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.prize-feature {
  width: 100%;
  max-width: 300px;
}*/

.prize-description {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(207, 159, 255);
    margin-top: 10px;
  }

.prize-image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}