* {
  box-sizing: border-box;
  z-index: 0;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

#timer_text {
  position: absolute;
  top: 60%;
  right: 20%;
  z-index: 10;
  font-weight: bold;
  border-radius: 50%;
  /* padding: 1rem 2rem; */
  font-size: 28px;
  font-style: italic;
  /* background-color: black; */
  color: white;
  transition: linear 0.3s;
}

#timer_text:hover{
  text-shadow: 4px 4px 0 purple;
}

#togotext{
  font-size: 8px;
  margin-bottom: 3px;
}

.countdown_visible {
  opacity: 1;
  z-index: 10;
}

.countdown_hidden {
  opacity: 0;
  z-index: -10;
}

.countdown {

  background: #000000;
  justify-content: center;

  width: 100%;
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  gap: 30px;
  align-items: center;
  font-family: sans-serif;
  position: fixed;
  top: 0rem;
  font-family: sans-serif;
  position: fixed;
  top: 0rem;
}

.time-section {

  text-align: center;
  font-size: 30px;
  color: #fff;
}

.time-group {
  display: flex;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 100px;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 100px;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  line-height: 1.5;
  color: #eee;
  background-color: #111;
}

.segment-display__bottom {
  line-height: 0;
  color: #fff;
  background-color: #333;
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 100px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  line-height: 1.5;
  color: #eee;
  background-color: #111;
}

.segment-display__bottom {
  line-height: 0;
  color: #fff;
  background-color: #333;
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 100px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #fff;
  background-color: #111;
  transform-origin: bottom;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #fff;
  background-color: #111;
  transform-origin: bottom;
}

.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: #eee;
  background-color: #333;
  border-top: 2px solid black;
  transform-origin: top;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

#days_text{
  font-size: 30px;
  margin: 0;
}

.section-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#timer_logo{
  width: 30%;
}
@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }

  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {

  0%,
  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}


@media only screen and (max-width: 768px){
  .time-segment{
    font-size: 20px;
    width: 100%;
  }

  .segment-overlay{
    width: 25px;
  }

  .countdown{
    gap: 35px;
  }

  .countdown p{
    font-size: 10px;
  }
  .segment-overlay__top,.segment-overlay__bottom{
    width: 20px;
  }
 
  .segment-display__top,.segment-display__bottom{
    width: 20px;
  }

  #timer_text {
    position: absolute;
    top: 100%;
    right: 30%;
    z-index: 10;
    font-weight: bold;
    border-radius: 50%;
    /* padding: 1rem 2rem; */
    font-size: 20px;
    font-style: italic;
    /* background-color: black; */
    color: white;
    transition: linear 0.3s;
    width: 100vw;
    text-align: center;
    right: 0!important;
    left: 0!important;
  }

  #days_text{
    font-size: 30px;
  }

  #timer_text p{
    font-size: 8px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1192px){
  .time-segment{
    font-size: 30px;
    width: 100%;
  }

  .segment-overlay{
    width: 50px;
  }

  .countdown{
    gap: 35px;
  }

  .countdown p{
    font-size: 16px;
  }
  .segment-overlay__top,.segment-overlay__bottom{
    width: 50px;
  }
 
  .segment-display__top,.segment-display__bottom{
    width: 50px;
  }
  #timer_text {
    position: absolute;
    top: 100%;
    right: 40%;
    z-index: 10;
    font-weight: bold;
    border-radius: 50%;
    /* padding: 1rem 2rem; */
    font-size: 20px;
    font-style: italic;
    /* background-color: black; */
    color: white;
    transition: linear 0.3s;
    width: 100vw;
    text-align: center;
    right: 0!important;
    left: 0!important;
  }

  #days_text{
    font-size: 20px;
  }

}