@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
.profile {
    cursor: default;
}

.profile body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
    color: #fff;
    cursor: default;
}

.profile form {
    background-color: #222;
    padding: 20px 60px 20px 60px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    cursor: default;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile h1 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    padding-top: 5px;

}

.profile label {
    display: block;
    margin-bottom: 8px;
}

.profile input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

.profile span {
    color: #f44336;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}

.profile .button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.profile .button:hover {
    background-color: #45a049;
}

.profile .radio-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.profile .radio-group div {
    margin-right: 15px;
}

.profile .radio-group label {
    margin-left: 5px;
}

.profile input[type="radio"] {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .profile form {
        padding: 20px;
    }

    .profile h1 {
        font-size: 20px;
        margin-top: 5px;
        padding-top: 5px;
    }

    .profile .button {
        width: 100%;
    }
}