#teams{
    width: 80%;
}
#registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#forms-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.registration-form {
    /* width: 300px; */
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 40px;
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}

#registration-container label {
    display: block;
    margin-bottom: 5px;
}

#registration-container h1,#registration-container h2{
    margin: 0;
    padding: 0;
}


#registration-container #submission_btn{
    padding: 0.5rem 1rem;
    margin-block-start: 10px;
    background: white;
    color: black;
    border:rgb(0, 0, 0) 2px solid;
    font-weight: bold;
    transition: 0.3s linear;
    border-radius: 5px;
}

#registration-container #submission_btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:rgb(255, 255, 255) 2px solid;
}

.toggle-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10%;
    padding-block-start:23px;
    padding-block-end: 23px;
}

.toggle-buttons button{
    outline: none;
    border: 0;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    padding: 1.25rem 2rem;
    border: 2px solid #71a875;
    border-radius: 0.75rem;
    transform-style: preserve-3d;
    transition: .15s cubic-bezier(0,0,0.6,1);
}
.toggle-buttons .active{
    background-color: lightgreen;
}

.toggle-buttons button::before {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #71a875;
    box-shadow: 0 0 0 2px #71a875, 0 .625em 0 0 rgba(137, 171, 139, 0.5);
    transform: translate3d(0, .75em, -1em);
    transition: .15s cubic-bezier(0,0,0.6,1);
 }
 
.toggle-buttons button:hover {
    background: #71a875;
    transform: translate(0, .25em);
}
.toggle-buttons button:hover::before {
    box-shadow: 0 0 0 2px #71a875, 0 .5em 0 0 rgba(137, 171, 139, 0.5);
    transform: translate3d(0, .5em, -1em);
}
button.learn-more:active {
    background: #71a875;
    transform: translate(0, .75em);
    }
button.learn-more:active::before {
    box-shadow: 0 0 0 2px #71a875, 0 0 rgba(137, 171, 139, 0.5);
    transform: translate3d(0,0,-1em);
} 