#teams{
    width: 80%;
}
#registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#forms-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.registration-form {
    /* width: 300px; */
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 40px;
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}

#registration-container label {
    display: block;
    margin-bottom: 5px;
}

#registration-container h1,#registration-container h2{
    margin: 0;
    padding: 0;
}


#registration-container #submission_btn{
    padding: 0.5rem 1rem;
    margin-block-start: 10px;
    background: white;
    color: black;
    border:rgb(0, 0, 0) 2px solid;
    font-weight: bold;
    transition: 0.3s linear;
    border-radius: 5px;
}

#registration-container #submission_btn:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:rgb(255, 255, 255) 2px solid;
}

.toggle-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10%;
    padding-block-start:23px;
    padding-block-end: 23px;
}

.toggle-buttons button{
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    border:rgb(0, 0, 0) 2px solid;
}

.toggle-buttons .active{
    background-color: lightgreen;
    
}

 