#main {
  display: flex;
  justify-content: space-evenly;
}

#leftContact,
#contact {
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.text-center {
  text-align: center !important;
  margin-top: 2rem;
}

#leftContact {
  width: 30%;
}

#contact {
  margin-top: 20px;
}

#contact .section-title,
#contact .col-lg-8 {
  width: 100%;
  box-sizing: border-box;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-person {
  margin-bottom: 2rem;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  display: inline-block;
  padding-bottom: 5px;
  text-decoration: none !important;
}

#contact .section-title h2 .border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding-bottom: 5px;
}

#social-media .links a {
  margin-right: 0.1rem;
  display: inline-block;
}

.php-email-form {
  margin-top: 100px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.php-email-form button {
  background-color: #800080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.php-email-form button:hover {
  background-color: #5a005a;
}

.form {
  position: absolute;
  z-index: 999;
  top: -100%;
  left: 0;
  width: 100%;
  transform: translate(0, -100%);
}

#social-media {
  margin-bottom: 2rem;
}

#social-media .links a img {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

#leftContact {
  position: relative;
  z-index: 10;
}

.socialContainer:hover {
  height: 60px;
  width: 60px;
}

@media (max-width: 768px) {
  #main {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  #leftContact {
    width: 100%;
  }

  .php-email-form {
    max-width: none;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1246px) {
  #social-media .links {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }

  #social-media .links a {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .col-lg-8 {
    order: 2;
  }
}



@media (max-width: 1171px) and (min-width: 987px) {
  .contact-details {
    flex-direction: column;
    align-items: center;
  }

  #social-media .links {
    order: 1;
    margin-bottom: 1rem;
  }

  .contact-person {
    margin-bottom: 2rem;
  }

  .col-lg-8 {
    order: 2;
  }
}

@media (max-width: 768px) {
  #navbar .nav-item {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 375px) and (max-height: 812px),
(max-width: 360px) and (max-height: 800px) {
  #social-media .links {
    flex-wrap: wrap;
    justify-content: center;
  }

  #social-media .links a {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.card {
  min-width: 360px;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  overflow-x: hidden;
}

.socialContainer {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

.containerFour:hover {
  background-color: #316FF6;
  transition-duration: .3s;
}

.containerFive:hover {
  background-color: #D44368;
  transition-duration: .3s;
}

.containerSix:hover {
  background-color: #CD201F;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}


@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact_newimg {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.contact-newimg:hover {
  transform: scale(1.1);
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 2rem;
  margin: 0 auto;
}

.newform {
  width: 16rem;
  font-size: 1rem;
  margin-bottom: 1.0rem;
}

.contact-person {
  text-align: center;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

}

.contact-newimg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.contact-newimg:hover {
  transform: scale(1.1);
}

#social-media {
  margin-bottom: 2rem;
  text-align: center;
}

#social-media .links {
  display: flex;
  justify-content: center;
}

#social-media .links a {
  margin: 0 10px;
}

#social-media .links a img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  #social-media .links {
    flex-wrap: wrap;
  }

  #social-media .links a {
    margin: 5px;
  }
}

@media (max-width: 1400px) and (min-width: 980px) {
  #contact .container {
    max-width: 886px !important;
  }

}

@media (max-width: 768px) {
  #contact .row {
    max-width: 886px !important;
    flex-direction: column;
  }

}


.newperson{
  display: block;
  width: 300px;
  /* justify-content: center; */
}