#main {
    display: flex;
    justify-content: space-evenly;
    padding-left: 11rem;
}

#leftContact,
#contact {
    flex-grow: 1;
}

.container {
    display: flex;
}

.text-center {
    text-align: center !important;
    margin-top: 2rem;
}

#leftContact {
    width: 30%;
}

#contact {
    margin-top: 20px;
}

#contact .section-title,
#contact .col-lg-8 {
    width: 100%;
    box-sizing: border-box;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-person {
    margin-bottom: 2rem;
}

#social-media .links a {
    margin-right: 1rem;
}

.php-email-form {
    margin-top: 90px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.php-email-form button {
    background-color: #800080 ;
    color: #fff ;
    padding: 10px 20px ;
    border: none ;
    border-radius: 5px ;
    cursor: pointer ;
    font-size: 16px ;
    transition: background-color 0.3s ease-in-out ;
}

.php-email-form button:hover {
    background-color: #5a005a ;
}

#social-media {
    margin-bottom: 2rem;
}

#social-media .links a img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    #main {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    #leftContact {
        width: 100%;
    }

    .php-email-form {
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
    }
}
