body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #000000;
}
.links {
  display: flex;
  gap: 1rem;
}
.links img {
  height: 5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2.5rem;
}
.nav-item {
  position: relative;
}
.feature-icon {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
.feature a {
  color: #212529;
  text-decoration-color: #212529;
}
.carousel {
  height: 30rem;
}
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 30rem;
}
.carousel-item .container {
  margin-top: 10%;
}

h2 {
  text-align: center;
  color: #F8F4F9;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width:100%;
}

h5,
h4 {
  color: #212529;
  font-weight: bold;
}
.nav li a {
  color: white;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.mainIcon {
  margin-top: -10px;
  background-color: #fff;
  padding-bottom: 2px;
  clip-path: polygon(0 0, 92% 0, 83% 100%, 9% 100%);
}
.mainLogo {
  margin-top: -10px;
  padding-top: 20px;
  background-image: linear-gradient(#000, #000);
  clip-path: polygon(0 0, 92% 0, 82% 96%, 10% 96%);
}
.pls {
  display: flex;
  justify-content: center;
}

.mainIcon2 {
  display: none;
  min-width: 440px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-bottom: 3px;
  clip-path: polygon(25.5% 0, 70.5% 0, 66% 96%, 30% 96%);
}
.mainLogo2 {
  margin-top: -10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40px;
  background-image: linear-gradient(#000, #000);
  clip-path: polygon(0 0, 92% 0, 82% 96%, 10% 96%);
}
@media (max-width: 667px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}
@media (max-width: 1000px) {
  .mainIcon {
    display: none;
  }
  .mainIcon2 {
    display: flex;
  }
}
.mainLogo a img {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 12px;
}

.cardcontainer {
  height: 300px;
  width: 300px;
  perspective: 600px;
}
.cardcontainer:hover > .flip {
  transform: rotateY(180deg);
}
.flip {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1000ms;
}
.front,
.back {
  background-color: #212529;
  color: white;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  transform: rotateY(180deg);
}
.faqs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.domain-info {
  height: 100vh;
  overflow-y: hidden;
}

.domain-info header {
  text-align: center;
  padding: 20px;
}
.domain-info header h1 {
  color: black;
}
.domain-info header p {
  width: 50%;
  margin-left: 25%;
  color: white;
}
.domain-info section {
  padding: 20px;
  background-color: #212529;
  border-radius: 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0);
}
.domain-sections {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.domain-info h2 {
  color: white;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.domain-info p {
  line-height: 1.6;
}
@media (max-width: 900px) {
  .domain-info {
    height: 100vh;
  }
}
@media (max-width: 830px) {
  .domain-info section {
    padding: 10px;
    width: 70%;
  }
  .domain-sections {
    flex-direction: column;
    align-items: center;
  }
  .domain-info {
    height: 100%;
  }
}
@media (max-width: 759px) {
  .head {
    flex-direction: column;
  }
}
.head {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  width: 30%;
  margin-left: 35%;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.links {
  display: flex;
  gap: 1rem;
}

.links img {
  height: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-background {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #8594e4, #6643b5, #430f58);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav li {
  padding-left: 3.5rem;
}

.feature-icon {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.feature a {
  color: #212529;
  text-decoration-color: #212529;
}

.carousel {
  height: 27rem;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 27rem;
}

.carousel-item .container {
  margin-top: 10%;
}

h5,
h4 {
  color: #212529;
  font-weight: bold;
}

.nav li a {
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}

.cardcontainer {
  height: 300px;
  width: 300px;
  perspective: 600px;
}

.cardcontainer:hover > .flip {
  transform: rotateY(180deg);
}

.flip {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1000ms;
}

.front,
.back {
  background-color: #212529;
  color: white;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.faqs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.domain-info {
  height: 100vh;
  overflow-y: hidden;
}

.domain-info header {
  text-align: center;
  padding: 20px;
}

.domain-info header h1 {
  color: black;
}

.domain-info header p {
  width: 50%;
  margin-left: 25%;
  color: white;
}

.domain-info section {
  padding: 20px;
  background-color: #212529;
  border-radius: 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0);
}

.domain-sections {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.domain-info h2 {
  color: white;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.domain-info p {
  line-height: 1.6;
}

@media (max-width: 900px) {
  .domain-info {
    height: 100vh;
  }
}

@media (max-width: 830px) {
  .domain-info section {
    padding: 10px;
    width: 70%;
  }

  .domain-sections {
    flex-direction: column;
    align-items: center;
  }

  .domain-info {
    height: 100%;
  }
}

.head {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.head hr {
  position: relative;
  border: none;
  height: 0.2rem;
  width: 30%;
  margin-left: 35%;
  background: black;
  opacity: 0.8;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-left:48px;
  padding-right:48px;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor img {
  width: 80%;
}

@media (max-width: 600px) {
  /* .sponsor {
    width: 60%;
    margin-left: 25%;
    overflow-x: hidden;
  } */

  .head hr {
    width: 40%;
    margin-left: 30%;
  }
}
