body {
  margin: 0;
  color: white;
  background-color: #000;
}

.links {
  display: flex;
  gap: 1rem;
}
.links img {
  height: 5rem;
}
#home {
  padding-top: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4.5rem;
}

h2 {
  color: wheat;
  text-align: center;
  margin-bottom: 2rem;
}
.feature-icon {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
.feature a {
  color: #212529;
  text-decoration-color: #212529;
}
.carousel {
  height: 30rem;
}
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 30rem;
}
.carousel-item .container {
  margin-top: 10%;
}
.marketing-1 {
  margin-left: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

h5,
h4 {
  color: #212529;
  font-weight: bold;
}
.nav li a {
  color: white;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.mainIcon {
  margin-right: -2rem;
}
.mainLogo {
  margin-top: -10px;
  padding-top: 20px;
  clip-path: polygon(0 0, 92% 0, 82% 96%, 10% 96%);
}
.pls {
  display: flex;
  justify-content: center;
}

.mainIcon2 {
  display: none;
  min-width: 440px;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}
.mainLogo2 {
  margin-top: -10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40px;
  clip-path: polygon(0 0, 92% 0, 82% 96%, 10% 96%);
}
@media (max-width: 667px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}
@media (max-width: 1000px) {
  .mainIcon {
    display: none;
  }
  .mainIcon2 {
    display: flex;
  }
}
.mainLogo a img {
  margin: -12px 10px 3px 10px;
}
.mainLogo2 a img {
  margin: -12px 10px 3px 10px;
}
h2 {
  padding-top: 1rem;
}
.cardcontainer {
  height: 300px;
  width: 300px;
  perspective: 600px;
}
.cardcontainer:hover > .flip {
  transform: rotateY(180deg);
}
.flip {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1000ms;
}
.front,
.back {
  background-color: #212529;
  color: white;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  transform: rotateY(180deg);
}
.faqs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.domain-info {
  height: 100vh;
  overflow-y: hidden;
}

.domain-info header {
  text-align: center;
  padding: 20px;
}
.domain-info header h1 {
  color: black;
}
.domain-info header p {
  width: 50%;
  margin-left: 25%;
  color: white;
}
.domain-info section {
  padding: 20px;
  background-color: #212529;
  border-radius: 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0);
}
.domain-sections {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.domain-info h2 {
  color: white;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.domain-info p {
  line-height: 1.6;
}
@media (max-width: 900px) {
  .domain-info {
    height: 100vh;
  }
}
@media (max-width: 830px) {
  .domain-info section {
    padding: 10px;
    width: 70%;
  }
  .domain-sections {
    flex-direction: column;
    align-items: center;
  }
  .domain-info {
    height: 100%;
  }
}
@media (max-width: 759px) {
  .head {
    flex-direction: column;
  }
}
.head {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  width: 30%;
  margin-left: 35%;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.links {
  display: flex;
  gap: 1rem;
}

.links img {
  height: 1.5rem;
}
h2 {
  color: #212529;
}

.feature-icon {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.feature a {
  color: #212529;
  text-decoration-color: #212529;
}

.carousel {
  height: 27rem;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 27rem;
}

.carousel-item .container {
  margin-top: 10%;
}

h5,
h4 {
  color: #212529;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: white;
}

h2 {
  padding-top: 1rem;
}

.cardcontainer {
  height: 200px;
  width: 200px;
  perspective: 600px;
}

.cardcontainer:hover > .flip {
  transform: rotateY(180deg);
}

.flip {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1000ms;
}

.front,
.back {
  background-color: #212529;
  color: white;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.faqs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 80%;
  margin-left: 15%;
}
@media (max-width: 860px) {
  .faqs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 11%;
  }
}
.domain-info {
  height: 100vh;
  overflow-y: hidden;
}

.domain-info header {
  text-align: center;
  padding: 20px;
}

.domain-info header h1 {
  color: black;
}

.domain-info header p {
  width: 50%;
  margin-left: 25%;
  color: white;
}

.domain-info section {
  padding: 20px;
  background-color: #212529;
  border-radius: 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0);
}

.domain-sections {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.domain-info h2 {
  color: white;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.domain-info p {
  line-height: 1.6;
}

@media (max-width: 900px) {
  .domain-info {
    height: 100vh;
  }
}

@media (max-width: 830px) {
  .domain-info section {
    padding: 10px;
    width: 70%;
  }

  .domain-sections {
    flex-direction: column;
    align-items: center;
  }

  .domain-info {
    height: 100%;
  }
}

.head {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.head hr {
  position: relative;
  border: none;
  height: 0.2rem;
  width: 30%;
  margin-left: 35%;
  background: black;
  opacity: 0.8;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor img {
  width: 80%;
}

@media (max-width: 600px) {
  /* .sponsor {
    width: 60%;
    margin-left: 25%;
    overflow-x: hidden;
  } */

  .head hr {
    width: 40%;
    margin-left: 30%;
  }
}
.navbarProgress {
  position: fixed;
  margin-left: 1%;
  width: 97vw;
  top: 60px;
  height: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 60px;
  box-shadow: 0px 0px 20px #000;
  overflow: hidden;
}
.navbarProgressBar {
  position: relative;
  width: 0%;
  background: rgb(102, 67, 181);
  background: linear-gradient(
    180deg,
    rgba(102, 67, 181, 1) 0%,
    rgba(102, 66, 178, 1) 32%,
    rgba(012, 25, 101, 1) 100%
  );
}

.progressbar {
  width: 300px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 60px;
  box-shadow: 0px 0px 20px #000;
  overflow: hidden;
}
.bar {
  width: 0%;
  background: rgb(102, 67, 181);
  background: linear-gradient(
    180deg,
    rgba(102, 67, 181, 1) 0%,
    rgba(102, 66, 178, 1) 32%,
    rgba(012, 25, 101, 1) 100%
  );
}
.progressbar-container {
  height: 100vh;
  display: grid;
  place-content: center;
}
.progressbar-container h3 {
  text-align: center;
}
.percent {
  position: absolute;
  margin-left: 0;
}
