* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#three-container {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -230px;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 3%;
}
.landing-page h2 {
  text-align: left;
}
.name {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgb(207, 159, 255);
  margin-bottom: 10px;
  margin-top: 50%;
}

.description {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #dddddd;
}

.left-section {
  position: absolute;
  width: 30%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  margin-left: 3%;
}

.left-section .text-section {
  margin-top: 100px;
}

.heading {
  text-shadow: 3px 3px 4px rgb(207, 159, 255);
  margin-bottom: 10px;
}

.right-section {
  position: absolute;
  right: 0;
  width: 30%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  width: 2rem;
  top: 33%;
  left: 75%;
  padding-right: 3rem;
  margin-left: -8%;
}

.text-section {
  animation: popUp 3s ease;
}
.landing-page #three-container {
  z-index: -1;
  margin-top: -100px;
}
@keyframes popUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #ffffff;
  background-image: none;
  color: #000000;
  cursor: none;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin-top: 35px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  border-radius: 10px;
}

.btn-53:disabled {
  cursor: none;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
}

.btn-53 .original {
  background: #000;
  color: #ffffff;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  font-size: 20px;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
  font-size: 20px;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.btn-53:hover span:nth-child(7) {
  transition-delay: 0.6s;
}
.btn-53:hover span:nth-child(8) {
  transition-delay: 0.7s;
}
@media (max-width: 1250px) {
  .landing-page {
    margin-top: 10%;
  }
  .text-section {
    display: block;
  }
  .right-section {
    margin-top: -60px;
  }
}
@media (max-width: 1000px) {
  .landing-page {
    display: block;
    margin-top: -10%;
  }
  .text-section {
    display: block;
    position: absolute;
    top: 400px;
    margin-left: 20%;
  }
  .description {
    min-width: 300px;
  }
  .text-section-right {
    margin-top: 520px;
    margin-left: -60px;
  }
  .name {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .right-section {
    z-index: -1;
  }
}
a {
  text-decoration: none;
}
.mobile-button {
  margin-top: 30px;
  display: none;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 999px;
  width: 200px;
  padding: 0.5rem;
  border: 3px solid white;
  background: none;
}

@media (max-width: 890px) {
  .btn-53 {
    display: none;
  }
  .mobile-button {
    display: block;
  }
  .left-section h2 {
    text-align: center;
  }
  .left-section {
    z-index: 1;
    margin-top: 20px;
    margin-left: 20%;
    text-align: center;
  }
  .text-section-right {
    margin-top: 780px;
  }
  .right-section {
    margin-top: -60px;
    z-index: -1;
    margin-left: -35%;
  }
  .landing-page #three-container {
    margin-top: -230px;
  }
}
@media (max-width: 600px) {
  #three-container {
    margin-top: -150px;
  }
  .left-section {
    margin-top: -150px;
    margin-left: 13%;
    z-index: 1;
  }
  .right-section {
    margin-top: -150px;
    margin-left: -36%;
  }
  .mobile-button {
    margin-left: -30%;
  }
  
}
@media (max-width: 430px) {
  .landing-page #three-container {
    margin-top: -130px;
  }
  .left-section {
    margin-top: -180px;
    margin-left: -1%;
  }
  .right-section {
    margin-top: -230px;
  }
}
/*@media (max-width: 370px) {
  .landing-page #three-container {
    margin-top: -360px;
  }
  .left-section {
    margin-top: 20px;
  }
  .right-section {
    z-index: -1;
    margin-top: -10%;
  }
}*/
