.overlay_bg {
    position: fixed;
    z-index: 9;
    opacity: 0.2;
    height: 20vh;
    width: 100vw;
    bottom: 0;
    
background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(239, 239, 239, 0.50) 48.11%, #D9D9D9 98.38%);
filter: blur(2px);
}